@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    font-size: 62.5%;
}
html, body{
    width: 100%;
    height: 100%;
}
*{
    padding: 0%;
    margin: 0%;
}

header{
    display: flex;
    height: 10rem;
    width: 100%;
    background-color: #202020;
    align-items: center;
}
header img{
    margin-left: 9rem;
}
nav{
    height: 10rem;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    list-style: none;
}
h1{
    font-family: "Righteous", sans-serif;
    font-size: 70px;
    text-align: center;
}
nav ul li{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.menu{
    width: calc(100% / 3);
    height: 100%;
    background-color: #313131;
    text-decoration: none;
    color: white;
    font-family: "Archivo", sans-serif;
    font-size: 5rem;
}
nav ul a:nth-of-type(1){
    border-right: white 1px solid;
}
nav ul a:nth-of-type(2){
    border-left: white 1px solid;
    border-right: white 1px solid;
}
nav ul a:nth-of-type(3){
    border-left: white 1px solid;
}
main {
    width: 100%;
}
p {
    font-family: "Roboto Flex", sans-serif;
    font-size: 2.8rem;
}
#slideshow {
    width: 100%;
    height: 50rem;
    background-image: url("../imgs/slideshow/carros_preto_e_branco.jpg");
    background-position: center;
    background-size: cover;
    animation: slideshow 30s infinite;
}

#bemvindo {
    width: 100%;
    height: 50rem;
    text-align: center;
    padding-top: 4.2rem;
    padding-bottom: 4.4rem;
}
#bemvindo p{
    margin-left: 9rem;
    margin-right: 9rem;
}
#seta1 {
    animation-name: seta;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
#seta2 {
    animation-name: seta;
    animation-duration: 2s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
}
#seta3 {
    animation-name: seta;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

#carros{
    width: 100%;
    height: 143.7rem;
    background: linear-gradient(180deg, #D0D0D0 0%, #313131 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imagem-carro{
    width: 50rem;
}
#setas{
    margin-top: 4rem;
}
.descricao{
    width: calc(100% - 23rem);
    margin-right: 11.5rem;
    margin-left: 11.5rem;
}
.descricao h1{
    margin-bottom: 2.5rem;
}
.grupo-imagem-texto p{
    display: block;
    width: 52.8rem;
    margin-right: 5rem;
    text-align: justify;
}
.grupo-imagem-texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#texto-branco{
    color: white;
}
@keyframes slideshow {
    0% ,20%, 100%{
        background-image: url("../imgs/slideshow/carros_preto_e_branco.jpg");
        background-position: center;
    }
    30%, 45%{
        background-image: url("../imgs/slideshow/carro_audi.jpg");
        background-position: center;
    }
    55%, 70%{
        background-image: url("../imgs/slideshow/carro_prata.jpg");
        background-position: center;
    }
    80%, 95%{
        background-image: url("../imgs/slideshow/carro_amarelo.jpg");
        background-position: bottom;
    }
}

@keyframes seta {
    0%, 20%, 80%, 100%{
        opacity: 0%;
    } 
    30%, 70%{
        opacity: 100%;
    }
}