form{
    padding: 4rem;
    text-align: left;
    font-size: 2rem;
}
#nome{
    width: 120rem;
    height: 3rem;
}
input[type="text"], textarea, select{
    background-color: #FFF5BE;
    border-radius: 1rem;
    height: 3rem;
    border: #FF993B 2px solid;
}
.meia-linha{
    width: 50%;
    float: left;
}

.meia-linha input[type="text"]{
    width: 50rem;
}
.meia-linha select{
    width: 45rem;
}
#botoes{
    padding-left: 55rem;
}
textarea{
    min-width: 140rem;
    max-height: 140rem;
    min-height: 45rem;
    max-height: 45rem;
}
button{
    width: 14.5rem;
    height: 4.2rem;
    border-radius: 1rem;
    border: 0px;
    background-color: #FF993B;
    color: white;
    font-size: 2.5rem;
}